<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block style %}{% endblock %}
    <title>{{title}}</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#"><h1>Миссия колонизация Марса</h1></a>

    <div style="float: right;">
        <ul class="nav navbar-nav">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/logout">{{ current_user.name }}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/register">Зарегистрироваться</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Войти</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="alert alert-light"><h3>И на Марсе будут яблони цвести!</h3></div>
{% block content %}{% endblock %}
</body>
</html>