{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="static/css/style.css">
{% endblock %}

{% block content %}
<h2 style="text-align: center">Works log</h2>
<div style="margin: auto; width: 900px;">
    {% if current_user.is_authenticated %}
    <a href="/addjob" class="btn btn-secondary">Add a job</a>
    {% endif %}
</div>
{% for job in jobs %}
<div style="width: 900px; margin: auto;">
    <h3>Action # {{job.id}}</h3>
    <table class="table table-bordered" style="width: 900px; margin: auto;">
        <thead>
        <tr class="table-active">
            <th scope="col">Title of activity</th>
            <th scope="col">Team leader</th>
            <th scope="col">Duration</th>
            <th scope="col">List of collaborators</th>
            <th scope="col">Is finished</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="table-primary">{{job.job}}</td>
            <td class="table-primary">{{users[loop.index0].surname}} {{users[loop.index0].name}}</td>
            <td class="table-primary">{{job.work_size}} hours</td>
            <td class="table-primary" align="center">{{job.collaborators}}</td>
            {% if job.is_finished == true %}
            <td class="table-danger">Is finished</td>
            {% else %}
            <td class="table-danger">Is not finished</td>
            {% endif %}
        </tr>
        </tbody>
    </table>
    <br>
    {% if current_user.is_authenticated and (current_user == job.user or current_user.id == 1) %}
    <div>
        <a href="/jobs/{{ job.id }}" class="btn btn-warning">Изменить</a>
        <a href="/jobs_delete/{{ job.id }}" class="btn btn-danger">Удалить</a>
    </div>
    {% endif %}
</div>
<br>
{% endfor %}
{% endblock %}