{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/style.css" type="text/css">
{% endblock %}

{% block content %}
<form action="" method="post" class="my-form" novalidate>
    {{ form.hidden_tag() }}
    <h1>Authorization</h1>
    <div>
        {{ form.login.label }}<br>
        {{ form.login(class="form-control") }}<br>
        {% for error in form.login.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div>{{ form.remember_me() }} {{ form.remember_me.label }}</div>
    <div>{{ form.submit(type="submit", class="btn btn-primary") }}</div>
    {% if message %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
</form>
{% endblock %}